{% extends 'storeprofilebase.html' %}

{% block content %}
<style>
    body{
    overflow-x:hidden;
    }
</style>

<!-- Page Preloder -->
    {% comment %} <div id="preloder">
        <div class="loader"></div>
    </div> {% endcomment %}

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="{% url 'logout' user_info.id %}">Logout</a>
            </div>
            <div class="offcanvas__top__hover">

            </div>
        </div>
        <div class="offcanvas__nav__option">
           

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">

            <p color="white">{{user_info.name}}</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">

                            <p color="white">{{user_info.name}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">

                 <a href="{% url 'logout' user_info.id %}">Logout</a>



                            </div>
                            <div class="header__top__hover">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% url 'user_index' %}">Home</a></li>
                            <li><a href="{% url 'user_home'%}">Shop</a></li>


                            {% comment %} <li><a href="./contact.html">Contacts</a></li> {% endcomment %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        

                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->


<section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
               <h4>EpicKart</h4>
              <div class="breadcrumb__links">
                <a href="./index.html">Home</a>
                
                <a href="{% url 'profile' user_info.id %}">My Profile</a>
                  
                        <span>Address</span>
                   </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class='btn btn-dark' style='margin-left:10%;margin-top:3%' href="{% url 'address' %}">Add Address</a>
    {% for i in address%}
<div class="row">
    <div class="card w-75 mt-5" style='margin-left:10%'>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">{{i.first_name}} {{i.last_name}}</p>
          <p class="card-text">{{i.phone}}</p>
          <p class="card-text">{{i.email}}</p>
          
          <p class="card-text">{{i.address_line_1}}</p>
          <p class="card-text">{{i.address_line_2}}</p>
          <p class="card-text">{{i.country}},{{i.state}},{{i.city}},{{i.zip}}</p>
          
          <a href="#" class="btn btn-dark">Change</a>
        </div>
      </div>
    
</div>
{% endfor %}

{% endblock %}
