{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container ">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center text-success mb-5 fw-light fs-5">Login</h5>
            <form method="post">
                 {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="email" name="uname" class="form-control" id="floatingInput" placeholder="Email">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" name="psw" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                <span style="color:red">{% for i in messages %}{{i}}{% endfor %}</span>
              </div>


              <div class="d-grid">
                <button class="btn btn-outline-dark btn-login text-uppercase fw-bold" type="submit">Login</button>
              </div>

              <div class="d-grid d-flex justify-content-center">
               <h5 class="mb-3 mt-3">OR</h5>
              </div>

              <div class="d-grid">
                <a href="{%url 'otp_log'%}" class="btn btn-dark">request otp</a>
              </div>
              <div class="d-grid">
                <a href="{% url 'user_sign' %}" >Create account</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}