<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'temp_static/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'temp_static/css/elegant-icons.css" type="text/css' %}">
    <link rel="stylesheet" href="{% static 'temp_static/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'temp_static/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'temp_static/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'temp_static/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'temp_static/css/style.css' %}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <style>
        body{
        overflow-x:hidden;
        }
        #epic{
            animation: ep 10s infinite;
            
          }
          @keyframes ep {
            0%   {background-color: black;color:white;}
          25%  {background-color: #cdcfd1;color:black}
          50%  {background-color: black;color:white}
          75%  {background-color: #cdcfd1;color:black}
          100% {background-color: black;color:white}
            
          }
          #kart{
            animation: kar 3s infinite;
            
            position:relative;
            animation-timing-function:linear;
          }
          @keyframes kar {
           0%{left:0px;}
           50%{left:100px;}
           100%{left:0px;}
            
          }
    </style>
    
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                 {% if user.logstatus is True %}
                 <a href="logout/{{user.id}}">Logout</a>
                                {% else %}
               <a href="{% url 'user_login' %}">Sign in</a>
                                {% endif %}


            </div>
            <div class="offcanvas__top__hover">


            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            {% comment %} <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div> {% endcomment %}
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                            <p> {{user.name}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                              {% if user.logstatus is True %}
                                   <a href="logout/{{user.id}}">Logout</a>
                                {% else %}
                                <a href="{% url 'user_login' %}">Sign in</a>

                                {% endif %}

                            </div>
                            <div class="header__top__hover">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        {% comment %} <a href="./index.html"><img src="img/logo.png" alt=""></a> {% endcomment %}
                        {% include 'logo_epickart.html' %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% if user.logstatus %} {% url 'user_index' %} {% else %} {% url 'home' %}{% endif %}">Home</a></li>
                            <li class="active"><a href="">Shop</a></li>
<!--                            <li><a href="./contact.html">Contacts</a></li>-->
                            {% if user.logstatus is True %}
                            <li><a href="{% url 'profile' user.id %}">My Profile</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="{% if user.logstatus is True %}{% url 'view_wish' %}{% else %} # {% endif %}">
                            <img src="{% static 'temp_static/img/icon/heart.png' %}" alt=""></a>
                        <a href="{% if user.logstatus  %}{% url 'cart_user_view' %}{% else %}{% url 'gcart_view' %} {% endif %}">
                            <img src="{% static 'temp_static/img/icon/cart.png'%}" alt=""><span>{{cart}}</span> </a>

                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>EpicKart</h4>
                        <div class="breadcrumb__links">
                            <a href="{% if user.logstatus %} {% url 'user_index' %} {% else %} {% url 'home' %}{% endif %}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#" method='post'>
                                {% csrf_token %}
                                <input type="text" placeholder="Search..." name='search'>
                                <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                  </svg></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    {% for i in category %}
                                                    
                                                    <li><a href="{% if user.logstatus %}{% url 'filter' i.id i.cate_name %}{% else %}{% url 'filter_prod' i.id i.cate_name %}{% endif %}">{{i.cate_name|upper}}</a></li>                                                        </li>
                                                    
                                                  {% endfor %}
                                                  
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="card">
                                    {% comment %} <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    {% for i in brand%}
                                                    
                                                    <li><a href="{%  url 'filter' i.id i.product_name %}">{{i.product_name}}</a></li>
                                                    
                                                 {% endfor %}   
                                                </ul>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                            {% comment %} <li><a href="#">$0.00 - $50.00</a></li>
                                            <li><a href="#">$50.00 - $100.00</a></li>
                                            <li><a href="#">$100.00 - $150.00</a></li>
                                                <li><a href="#">$150.00 - $200.00</a></li>
                                                <li><a href="#">$200.00 - $250.00</a></li>
                                                        <li><a href="#">250.00+</a></li> {% endcomment %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    {% comment %} <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div> {% endcomment %}
                                    {% comment %} <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
<!--                                                <label for="xs">xs-->
<!--                                                    <input type="radio" id="xs">-->
<!--                                                </label>-->
<!--                                                <label for="sm">s-->
<!--                                                    <input type="radio" id="sm">-->
<!--                                                </label>-->
<!--                                                <label for="md">m-->
<!--                                                    <input type="radio" id="md">-->
<!--                                                </label>-->
<!--                                                <label for="xl">xl-->
<!--                                                    <input type="radio" id="xl">-->
<!--                                                </label>-->
<!--                                                <label for="2xl">2xl-->
<!--                                                    <input type="radio" id="2xl">-->
<!--                                                </label>-->
<!--                                                <label for="xxl">xxl-->
<!--                                                    <input type="radio" id="xxl">-->
<!--                                                </label>-->
<!--                                                <label for="3xl">3xl-->
<!--                                                    <input type="radio" id="3xl">-->
<!--                                                </label>-->
<!--                                                <label for="4xl">4xl-->
<!--                                                    <input type="radio" id="4xl">-->
<!--                                                </label>-->
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                <div class="card">
                                    {% comment %} <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div> {% endcomment %}
                                    {% comment %} <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
<!--                                                <label class="c-1" for="sp-1">-->
<!--                                                    <input type="radio" id="sp-1">-->
<!--                                                </label>-->
<!--                                                <label class="c-2" for="sp-2">-->
<!--                                                    <input type="radio" id="sp-2">-->
<!--                                                </label>-->
<!--                                                <label class="c-3" for="sp-3">-->
<!--                                                    <input type="radio" id="sp-3">-->
<!--                                                </label>-->
<!--                                                <label class="c-4" for="sp-4">-->
<!--                                                    <input type="radio" id="sp-4">-->
<!--                                                </label>-->
<!--                                                <label class="c-5" for="sp-5">-->
<!--                                                    <input type="radio" id="sp-5">-->
<!--                                                </label>-->
<!--                                                <label class="c-6" for="sp-6">-->
<!--                                                    <input type="radio" id="sp-6">-->
<!--                                                </label>-->
<!--                                                <label class="c-7" for="sp-7">-->
<!--                                                    <input type="radio" id="sp-7">-->
<!--                                                </label>-->
<!--                                                <label class="c-8" for="sp-8">-->
<!--                                                    <input type="radio" id="sp-8">-->
<!--                                                </label>-->
<!--                                                <label class="c-9" for="sp-9">-->
<!--                                                    <input type="radio" id="sp-9">-->
<!--                                                </label>-->
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                                <div class="card">
                                    {% comment %} <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div> {% endcomment %}
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
<!--                                                <a href="#">Product</a>-->
<!--                                                <a href="#">Bags</a>-->
<!--                                                <a href="#">Shoes</a>-->
<!--                                                <a href="#">Fashio</a>-->
<!--                                                <a href="#">Clothing</a>-->
<!--                                                <a href="#">Hats</a>-->
<!--                                                <a href="#">Accessories</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    {% comment %} <p>Showing 1–12 of 126 results</p> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                        
                                        <a class="ms-3" style="text-decoration:none;color:blue" href="{% url 'sort' 'low_to_high' %}">Low To High</a>
                                        <a class="ms-3" style="text-decoration:none;color:blue" href="{% url 'sort' 'low_to_high1' %} ">High To Low</a>
                                        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
<h1></h1>
                    <div class="row">
                        {% for i in items %}
                        
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item card">
                                <div class="product__item__pic set-bg" >
                                    {% for j in cate %}{% if j.status == True and j.cid == i.cid %}<span class="label">{{j.percentage}}% off</span>{% endif %}{% endfor %}
                                    <img src="{{i.image.url}}">
<!--                                    <p>data-setbg="{{i.image.url}}"</p>-->
                                    <ul class="product__hover">
                                        <li><a href="{% if user.logstatus %}{% url 'add_wish' i.id user.id %} {% else %} # {% endif %}">
                                            <img src="{% static 'temp_static/img/icon/heart.png' %}" alt="">
                                            <span>Like</span>
                                        </a>
                                        </li>
                                        <li><a href="{% if user.logstatus %}detail_view/{{i.id}}/{{user.id}}{% else %}detail_view/{{i.id}} {% endif %}">
                                            <img width="90%" height="70%" src="{% static 'temp_static/img/icon/show.png'%}" alt=""> <span>view</span></a>
                                        </li>
<!--                                        <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>-->
                                    </ul>
                                </div>
                                  <div class="product__item__text">
                                    <h6>{{i.cid.cate_name | upper}} {{i.series | upper}}</h6>
                                    <a href="{% if user.logstatus %}{% url 'add_cart' user.id i.id %}{% else %}{% url 'add_cart_guest' i.id %}{% endif %}" class="add-cart">+ Add To Cart</a>
                                     <div class='d-flex justify-content-between'>
                                    <h5>₹{{i.price}}</h5>{% if i.price != i.price_actual %}<del>₹{{i.price_actual}}</del>{% endif %}
                                  </div>
                                  </div>

                            </div>
                        </div>
                        {% endfor %}
                    
                    </div>

                        
                        
                        
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination">
                                {% if items.has_previous %}
                                <a class=" page-link" id="active" href="?page={{items.previous_page_number}}">Previous</a>
                                {% endif %}
                                {% if items.has_next %}
                                <a class="page-link" href="?page={{items.next_page_number}}">Next</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
<!--                            <li><a href="#">Clothing Store</a></li>-->
<!--                            <li><a href="#">Trending Shoes</a></li>-->
<!--                            <li><a href="#">Accessories</a></li>-->
<!--                            <li><a href="#">Sale</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'temp_static/js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'temp_static/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'temp_static/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'temp_static/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'temp_static/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'temp_static/js/jquery.slicknav.js' %}"></script>
    <script src="'{% static 'temp_static/js/mixitup.min.js' %}"></script>
    <script src="{% static 'temp_static/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'temp_static/js/main.js' %}"></script>
<script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>
<script>
 
    $(document).ready(function(){
        $('.filter_checkbox').click(function(e){
            
           var objects = {};
           $('.filter_checkbox').each(function(index,element){
            var filter_val = $(this).val();
            var filter_key = $(this).data('filter');
            objects = {filter_key,filter_val};
                
            console.log(objects);
           });
           
           fetch('{% url 'filter_product' %}',{
            method:'POST',
            headers: {
                'Content-type': 'application/json',
            },
            body:JSON.stringify({
                helo:"helo"
            });
            
           });
          
            
            
          
        });
       
        $('.hello').click(function(e){
            e.preventDefault();
            console.log("helo")
        });
    });
</script> 

</body>

</html>