{% extends 'storeprofilebase.html' %}

{% block content %}
<style>
    body{
    overflow-x:hidden;
    }
</style>

<!-- Page Preloder -->
    {% comment %} <div id="preloder">
        <div class="loader"></div>
    </div> {% endcomment %}

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">

            </div>
            <div class="offcanvas__top__hover">

            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">


        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">


                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">





                            </div>
                            <div class="header__top__hover">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        {% comment %} <a href="./index.html"><img src="img/logo.png" alt=""></a> {% endcomment %}
                        {% include 'logo_epickart.html'%}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% url 'user_index'%}">Home</a></li>
                            <li><a href="{% url 'user_home'%}">Shop</a></li>


                            {% comment %} <li><a href="">My</a></li> {% endcomment %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        {% comment %} <a href="#"><img src="img/icon/heart.png" alt=""></a> {% endcomment %}
                        {% comment %} <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a> {% endcomment %}

                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->


<section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>EpicKart</h4>
                        <div class="breadcrumb__links">
                            <a href="{% if user.logstatus %} {% url 'user_index' %} {% else %} {% url 'home' %}{% endif %}">Home</a>
                            <a href="{% if user.logstatus is True %}{% url 'user_home' %}{% else %}{% url 'productall' %}{% endif %}">Shop</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% block check_out %}

{% endblock %}
{% include 'profilefooter.html' %}
{% endblock %}
