{% extends 'base.html' %}

{% block title %}
order_detail_view
{% endblock %}

{% block content %}
{% include 'sidebar.html' %}
<div id="content" style='background-color:#a3a3a2;' class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Order Detail</h2>
        <div class="row">
        <div class="card col" style="width: 10rem;">
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><h4>Address</h4></li>
    <li class="list-group-item">Name: {{order.first_name}} {{order.last_name}}</li>
    <li class="list-group-item">Quantity: {{order_prod.quantity}}<br>{{order.address_line_2}}</li>
    <li class="list-group-item">Price: ₹ {{order_prod.product_price}}</li>
          <li class="list-group-item">Status: {{order_prod.status}}</li>
          <li class="list-group-item">Total Price: ₹ {% widthratio order_prod.quantity 1 order_prod.product_price %}   </li>
          
  </ul>
</div>

                  








        </div>

       


{% endblock %}