{% extends 'base.html' %}
{% block title %}
Offer
{% endblock title %}
{% block content %}

{% include 'sidebar.html' %}

 <div id="content" style='background-color:#a3a3a2;' class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Product Offer</h2>
    <div>
             <a href="{% url 'offer_view' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg></a>
            <a href="{% url 'product_offer_add' %}" class='btn btn-dark'>Add Offer</a>
        
        
    </div>
    <table class="table mt-3 table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Percentage</th>
            <th scope="col">Valid</th>
            <th scope="col">Product</th>
            <th scope="col">Status</th>
            
          </tr>
        </thead>
        <tbody>
            {% for i in prod_off %}
          <tr>
                        <td>{{i.Name}}</td>
            <td>{{i.percentage}}</td>
            <td>{{i.valid_till}}</td>
            <td>{{i.pid.cid.cate_name}} {{i.pid.series}}</td>
            <td>{{i.status}}</td>
            <td><a href="{% url 'offer_edit' i.id %}"  class='btn btn-warning '>Edit</a>
              <a href='#' data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}" class=' ms-3 btn {% if i.status %} btn-danger {% else %} btn-success {% endif %}'>{% if i.status %}Cancel{% else %}Activate{% endif %}</a>
            {% comment %} <a href="" data-bs-toggle="modal" data-bs-target="#example{{i.id}}" class='ms-3 btn btn-secondary'>Delete</a></td> {% endcomment %}

          </tr>
          <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">EpicKart</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Are you sure you want to Cancel this offer ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a class='btn btn-secondary' href="{% url 'product_offer_cancel' i.id %}">OK</a>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="example{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">EpicKart</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Are you sure you want to Delete this offer ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a class='btn btn-secondary' href="{% url 'product_offer_delete' i.id %}">OK</a>
                </div>
              </div>
            </div>
          </div>
          
         {% endfor %}
        </tbody>
      </table>
 </div>
 <!-- Button trigger modal -->
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script>
   {% for i in messages %}
   swal('Perfect',"{{i}}","success");
 {% endfor %}
 </script>
  
{% endblock content %}